name: main
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  validate:
    strategy:
      matrix:
        example:
          - simple
    name: validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup build env
        uses: jdx/mise-action@v3
        with:
          install: true
          experimental: true
      - name: Get Consul
        run: |
          curl -fSL https://releases.hashicorp.com/consul/1.17.0/consul_1.17.0_linux_amd64.zip \
          | gunzip -> consul ; chmod u+x consul
      - name: Start Consul dev server
        run: ./consul agent -server -dev &
      - name: Get Terraform
        run: |
          wget https://releases.hashicorp.com/terraform/1.9.5/terraform_1.9.5_linux_amd64.zip
          unzip -j terraform_1.9.5_linux_amd64.zip terraform
      - name: Init terraform
        run: ./terraform -chdir=examples/${{ matrix.example }} init -upgrade
      - name: Validate terraform
        run: ./terraform -chdir=examples/${{ matrix.example }} validate
  release:
    needs:
      - validate
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: |
          npm install -D '@semantic-release/commit-analyzer' \
          '@semantic-release/release-notes-generator' \
          '@semantic-release/changelog' \
          'semantic-release-license' \
          '@semantic-release/github'
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
